.listbook__content {
    margin-left: 230px;
    flex-wrap: wrap;
    background-color: #e9ecef;
    transition: margin-left ease-in-out 0.4s;
    height: inherit;
    .listbook__content-header-box span {
        font-size: 14px;
    }
    .listbook__content-header-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .listbook__content-content-header {
        border-bottom: 2px solid red;
        padding: 15px 10px 10px 10px;
    }
    .container__box-showbook-action {
        text-align: right;
    }
    .listbook__content-content {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
        margin: 0 15px;
        max-width: 100%;
        height: inherit;
    }
    .listbook__content-content-boxct {
        height: inherit;
        padding-top: 30px;
    }
    .container__input-search {
        width: 100%;
    }

    .container__box-showbook {
        padding: 0 20px 0 20px;
    }

    .container__c3-choice {
        padding: 20px 20px 0 20px;
    }

    .container__box-showbook .col-12 input {
        height: 50px;
        font-size: 16px;
        border: red 2px solid;
    }

    .container__box-showbook .col-2 {
        padding: 0 3px 0 3px;
    }

    .container__box-showbook .row {
        margin-bottom: 15px;
    }

    .container__box-showbook-imgBook {
        padding: 5px 10px 5px 10px;
        width: 100%;
        height: 70%;
        border: 1px black inset;
    }

    .container__box-showbook-imgBook img {
        width: 100%;
        height: 100%;
    }
    .container__c3-choice ul li {
        text-align: center;
        margin: 1px 0 1px 0;
        border: 1px solid lightgray !important;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 16px;
        font-weight: 600;
    }

    .container__c3-choice ul li:hover {
        background-color: #e85454;
        color: aliceblue;
    }

    .activeLi {
        background-color: #e85454 !important;
        color: aliceblue;
    }

    .activeI {
        animation: fadeIn1 linear 1s forwards;
    }

    .activeO {
        animation: fadeOut1 linear 1s forwards;
    }
}
@keyframes fadeIn1 {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes fadeOut1 {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
