.admin__order-list {
    /* list-style: circle; */
    padding-left: 20px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}
thead {
    background-color: #ffed86 !important  ;
}
thead tr th {
    /* border-bottom: 2px solid #ffed86 !important; */
    border: 0;
    border-right: 1px solid black;
}

tbody tr td {
    border: 1px solid black;
}
tbody tr th {
    border: 1px solid black;
}
.cot {
    overflow-y: scroll;
    height: 50px;
}
::-webkit-scrollbar {
    width: 10px;
    background: light rgba(165, 157, 157, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(165, 157, 157, 0.5);
    border-radius: 5px;
}
.admin__order-col {
    width: 130px;
}
.admin__order-status {
    text-align: center;
}
.admin__order-status span {
    font-weight: 600;
    font-size: 13px;
    font-style: oblique;
    /* color: white; */
}
.admin__order-dateBorrow {
    text-align: center;
}
.admin__order-datePromise {
    text-align: center;
}
.admin__order-datePay {
    text-align: center;
}
.admin__order-dateBorrow span {
    /* display: inline-block; */
    padding: 5px;
    margin-top: 3px;
    background-color: greenyellow;
    border-radius: 3px;
    font-weight: 700;
    display: none;
}

.admin__order-datePromise span {
    display: inline-block;
    padding: 5px;
    margin-top: 3px;
    background-color: greenyellow;
    border-radius: 3px;
    font-weight: 700;
    display: none;
}
.scroll__table-order {
    overflow-y: scroll;
    height: 640px;
}
.admin__order-datePay span {
    /* display: inline-block; */
    padding: 5px;
    margin-top: 3px;
    background-color: greenyellow;
    border-radius: 3px;
    font-weight: 700;
    display: none;
}
.admin__order-button-save {
    display: none;
}
.table__order {
    margin-top: 20px;
    padding: 0 10px 0 10px;
}
.admin__order-col-listbook {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background-notPay {
    background-color: rgba(238, 34, 34, 0.4) !important;
}

.background-borrowed {
    background-color: rgba(30, 188, 228, 0.2) !important;
}

.background-payed {
    background-color: rgba(10, 238, 29, 0.4) !important;
}
